<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<style type="text/css">

*{
	margin:0;
	padding: 0;
}
.slidebar{
	height: 30px; 
	line-height: 30px; 
	position: relative; 
	margin-top: 22px; 
	background-color: #ECE4DD; 
	border-radius: 20px; 
	
	text-align: center;
}
.j-btn{
	height: 44px; 
	width: 44px; 
	border-radius: 100%; 
	background-color: #F8F8F5; 
	position: absolute; 
	left: 0px; 
	top: 50%; 
	margin-top: -22px; 
	cursor: pointer; 
	text-align: center; 
	line-height: 44px; 
	color: green; 
	border: 1px solid #C3C3C3;
}

</style>
</head>
<body>
<div class="slidebar">
  <span>拖动滑块完成验证</span>
  <div class="j-btn">┃┃┃</div>

</div>

	
</body>
</html>




	


